#counter-container{

    .incr-btn {
      background-color: #2b9328;
    }
    .decr-btn {
      background-color: #ff3c00;
    }
    .settings-input{
      width: 50%;
    }
    input {
      font-size: 2em;
      text-align: center;
    }
    #incrementAmount-helper-text{
      margin-bottom: 10px;
    }
    button {
      margin-top: 20px;
      font-size: 1.4em;
    }

  
  .counter {
      font-size: 5em;
  }
}
  